<div id="root">
  <div class="container">
    <div class="users-list">
      <div class="column small-12 large-2">
        <label for="">Sender</label>
        <select (change)="onChangeSender($event.target.value)">
          <option value="0" selected>Select Sender</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.name }}
          </option>
        </select>
      </div>
      <div class="column small-12 large-2">
        <label>Receiver</label>
        <select (change)="onChangeReceiver($event.target.value)">
          <option value="0" selected>Select Receiver</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="messages">
      <div class="messages-scroller">
        <ng-container *ngFor="let message of messages">
          <div
            [ngClass]="
              message.messageSenderUserId === currentSenderUser.id
                ? 'message me'
                : 'message'
            "
          >
            {{ message.body }}
          </div>
        </ng-container>

        <ng-container *ngIf="messages && messages.length === 0">
          <div>> No Conversations happend!</div>
        </ng-container>
      </div>
    </div>
    <div class="chat-bar">
      <div class="form">
        <input
          #messageInput
          type="text"
          name="messageBody"
          placeholder="Type your message here"
          value=""
          (keyup.enter)="send($event, messageInput)"
        />
      </div>
    </div>
  </div>
</div>
